body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;    
}

/*  Empieza header
*/

header {
    background-color: #000218;
}

.header1 img {
    width: 100px;
    padding: 3% 10%;
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5% 10%;
    justify-content: space-around;
}

.headertexto {
    width: 310px;
}

.header2 h1 {
    color: white;
}

.header2 p {
    color: white;
}

.botones {
    display: flex;
}

.shop {
    background-color: red;
    border-color: red;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    padding: 10px 30px;
    
}

.add {
    background-color: transparent;
    border-color: red; 
    border-radius: 5px;   
    color: white;
    padding: 10px 30px;
}

.gauntlet {
    display: flex;
    justify-content: center;
    width: 320px;
    position: relative;
    padding: 15px 5px;
}

.gauntletimg {
    width: 150px;
    z-index: 2;
}

.fondoguante {
    position: absolute;
    width: 100%;
    z-index: 1;

}

/*  Termina la parte "header"
    empieza "segundaparte"
*/

.segundaparte {
    padding: 40px 0px;
    background-color: #CDCDD233;
}

.perfect h1 {
    padding-left: 50px;
}

.caja {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
    padding: 40px 0px;
}

  .iron {
    background-color: #FFFFFF;
    border: 5px;
    margin: 10px 0;
    padding: 15px;
    width: 200px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    
  }
  
  .thor {
    background-color: #FFFFFF;
    border: 5px;
    margin: 10px 0;
    padding: 15px;
    width: 200px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .black {
    background-color: #FFFFFF;
    border: 5px;
    margin: 10px 0;
    padding: 15px;
    width: 200px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  }

  .caja img {
    border-radius: 100%;
  }

  .caja h1 {
    font-size: 25px;
  }


/*  termina "segunda parte"  
    Empieza parte banner
*/

.banner {
    background-color: #000000;
}

.textobanner {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.textobanner h1 {
    margin-bottom: 5px;
    font-size: 40px;
}

.textobanner p {
    font-size: 25px;
    margin: 5px;
}

.sponsorimgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.sponsorimgs img {
    width: 100px;
    margin: 0px 30px;
    padding: 10px 5px;
}

/*  Termina la parte "banner"
    Empieza footer
*/

footer {
    background-color: #323030;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    flex-wrap: wrap;
}

.socialmedia {
    align-content: center;
}

.socialmedia img {
    width: 20px;
    padding: 0px 10px;   
}